<style>
	.fb-table {
    	border-collapse: collapse;
		table-layout:fixed;
    }
    .fb-table > tr > th, td{
		font-family: Arial;
	}
    .fb-table-header{
    	text-align:center;
		background:none repeat scroll 0 0 #E5E5E5;
		border-bottom:1px solid #BBBBBB;
    }
    .fb-table-row{
    	text-align:center;
		background:none repeat scroll 0 0 #FFFFFFF;
		border-bottom:1px solid #BBBBBB;
    }
    .fb-status{
    	width:100%;
		height: 20px;
		background: white;
		display: flex;
	}
	.fb-info {
		padding-right: 10px;
	}
	.fb-detail {
		height: 18px;
	}
	.fb-detail-graph{
		display: inline-block;
		height: 17px;
		background-color: SpringGreen;
		text-align: right;
	}
	.fbContextMenuOuterLayer{
		font-family: Arial, Helvetica, sans-serif;
		border-radius: 5px;
		background-color:gray;
		width:200px;
		height:250px;
		cursor:default;
	}
	.fbContextMenuContentLayer>ul{
		list-style-type: none;
	    margin: 0;
	    padding: 0;
	    width: 200px;
	}
	.fbContextMenuContentLayer>ul li{
	    display: block;
	    color: white;
	    text-decoration: none;
	    height:30px;
	    padding-left:10px;
	    line-height: 30px;
	}
	.fbContextMenuContentLayer>ul>li>a{
	    line-height: 30px;
	    text-decoration: none;
	}
	.fbContextMenuContentLayer>ul>li>a:VISITED{
		color: black;
	    text-decoration: none;
	}
	.fbContextMenuContentLayer>ul li:hover {
		background-color:black;
	    color: white;
	}
	.fbContextMenuContentLayer>ul>li>ul{
		margin:0;
		padding:0;
		list-style-type: none;
	}
	.fbContextMenuContentLayer>ul>li>ul>li{
		height:0px;
		width: 200px;
	    visibility: hidden;
	    background-color:gray;
	}
</style>
