<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE settings SYSTEM "settings.dtd">
<settings>
    <directories>
        <directory name="server">/opt/WebGUI/opt/tomcat/</directory>
        <directory name="sqlite">/opt/WebGUI/opt/sqlite/WebGUI.db</directory>
        <directory name="storage">/opt/WebGUI/home/</directory>
    </directories>
    <ip_address/>
</settings>