<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE settings SYSTEM "settings.dtd">
<settings>
    <directories>
        <directory name="serverDir">/opt/WebGUI/opt/tomcat/</directory>
        <directory name="storageDir">/opt/WebGUI/home/</directory>
        <directory name="sqliteFile">/opt/WebGUI/opt/sqlite/WebGUI.db</directory>
    </directories>
    <ip_address/>
</settings>
